@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', '微軟正黑體';
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    margin: 0;
}

.hometop {
    position: fixed;
    border-radius: 200px;
    background: linear-gradient(0deg, #a696ff, #70fffc);
    width: 140px;
    height: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: .8;
}

span {
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #ffffff;
    font-weight: bold;
    /* text-shadow: 0px 0px 10px gray; */
}

#gotop {
    position: fixed;
    display: none;
    bottom: 40px;
    right: 10px;
    z-index: 5;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(0deg, #a696ff, #70fffc);
    color: #ffffff;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    background-color: #ebebeb;
    min-height: 100vh;
}

.css-line {
    background: linear-gradient(to right, #dcc1ff 1px, transparent 1px), linear-gradient(to bottom, #dcc1ff 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 30px 30px;
}

.css-line2 {
    background: linear-gradient(to right, #f7f1ff 1px, transparent 1px), linear-gradient(to bottom, #f7f1ff 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 20px 20px;
}

.kv {
    width: 80%;
    margin: 0 auto;
    height: 600px;
    position: relative;
}

.circle-blue {
    position: absolute;
    top: -60%;
    width: 40%;
}

.circle-blue2 {
    position: absolute;
    width: 30%;
    right: 2%;
    z-index: 2;
}

.circle-red {
    position: absolute;
    width: 22%;
    left: 46%;
    top: 55%;
    z-index: 2;
}

.rightcircle {
    position: absolute;
    width: 27%;
    right: 0%;
    top: 0%;
    margin-right: 0px;
    z-index: -1;
}

.leftcircle {
    position: absolute;
    width: 10%;
    left: 0%;
    top: 24%;
    margin-left: 0px;
    z-index: -1;
}

.kvtextbox {
    background-color: #ffffff;
    box-shadow: 20px 20px 20px 0px #e4e4f3;
    position: absolute;
    top: 20%;
    left: 12%;
    z-index: 1;

}

.kvtextbox p {
    font-size: 30px;
    font-weight: bold;
}

li {
    font-size: 22px;

}

li img {
    height: 20px;
    padding-right: 10px;
    margin-top: 20px;
}

.work {
    position: relative;
    bottom: 200px;
}

.workbg {
    background-image: url(../img/workbg.svg);
    position: relative;
    margin: -6px 0 -1px 0;
    padding: 0 0 80px 0;
}

.item {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

.item .title img {
    height: 60px;

}

.itembox {
    display: flex;
    flex-wrap: wrap;
}

.itembox img {
    padding: 20px;
    width: 380px;
}

a:hover {
    background-color: #ffffff;
    border-radius: 8%;
    transform: perspective(250px) rotateZ(8deg);

}

footer {
    background-color: #1c1f2a;
    height: 200px;
}

.footerbox {
    position: relative;
    margin-top: -200px;

}

.footerimg {
    width: 40%;
    position: absolute;
    left: 30%;
    bottom: -5px;
    z-index: 6;

}

.project-info-section {
    padding: 100px 0px 0px;
    margin: 0 auto;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #dfe4ea;
}

.project-h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #2f3542;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    text-align: left;
}

.project-h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    color: rgba(116, 125, 140, 0.8);
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.project-info-area {
    display: flex;
    justify-content: space-between;

}

.porject-show {
    padding: 40px 0;
}

.porject-datial-area {
    display: flex;
    flex-direction: row;
    margin: 8% 0;
}

.porject-datial-title {
    width: 30%;
    color: #2f3542;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
}

.porject-datial-describe {
    width: 70%;

}

.porject-datial-describe img {
    padding-top: 40px;
    display: flex;

}

.project-info-h3 {
    margin-top: 0px;
    margin-bottom: 8px;
    color: rgba(116, 125, 140, 0.8);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.project-info-text {
    color: #2f3542;
    font-size: 18px;
    font-weight: 500;
}

.project-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 48px;
    padding-top: 40%;
    -o-object-fit: fill;
    object-fit: fill;
}

.project-cover-img {
    padding-top: 40px;
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.img-show , .img-gymshow{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持圖片比例並填充容器 */

}


.img-show img ,.img-gymshow img{
    position: absolute;
    bottom: 0px;
    display: none;
}

.img-show img.show , .img-gymshow img.show{
    display: block;
}


@keyframes switchImages {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: unset;
    }
}


@media (min-width: 2560px) {
    .kv {
        width: 80%;
    }

    .item {
        width: 62%;
    }

    .itembox img {
        width: auto;
        padding: 30px;
    }

    h1 {
        font-size: 48px;
    }

    li {
        font-size: 32px;
        padding: 10px 0;
    }



}



@media (max-width: 1440px) {
    .kv {
        width: 100%;
    }

    .item {
        width: 80%;
    }

    .mainkv {
        background-image: url(../img/proposal.jpg);
        height: 460px;
    }

}



@media (max-width: 1200px) {
    .kv {
        width: 80%;
        height: 360px;
    }

    .kvtextbox {
        left: 3%;
    }

    .circle-blue {
        top: -14%;
        width: 72%;
        left: -33%;
    }

    .circle-blue2 {
        top: -6%;
        width: 40%;
        right: -12%;
    }

    .circle-red {
        top: 58%;
        left: 60%;
    }

    .item {
        width: 80%;
        padding: 20px 0;
    }

    .item .title img {
        height: 50px;
    }

    .itembox img {
        width: 270px;
    }

    .pxy60 {
        padding: 40px;
    }



}

@media (max-width: 1024px) {

    .circle-blue2 {
        right: -5%;
    }

    .circle-red {
        left: 62%;
        top: 54%;
    }

    .work {
        bottom: 0px;
    }

    .item {
        width: 80%;
        padding: 20px 0;
    }

    .itembox img {
        width: 200px;
        padding: 10px;
    }

    .item .title img {
        height: 40px;
        margin-bottom: 0;
    }

    li {
        font-size: 20px;
    }

    .footerbox {
        margin-top: -275px;
    }

    .max-width {
        width: 80%;
    }

    .porject-datial-title {
        font-size: 24px;
    }

    .porject-datial-area {
        display: block;

    }

    .porject-datial-describe {
        width: 100%;
    }

    .porject-datial-title {
        width: 100%;
    }

    .porject-datial-describe img {
        padding-top: 20px;
    }

}


@media (max-width: 440px) {

    .kvtextbox {
        left: 0;
        box-shadow: 10px 10px 10px 0px #e4e4f3;
    }

    .pxy60 {
        padding: 40px 20px;
    }

    h1 {
        font-size: 26px;
    }

    .container {
        margin-top: -30px;
    }

    .circle-blue {
        top: -13%;
        width: 140%;
        left: -60%;
    }

    .circle-blue2 {
        width: 44%;
        right: -17%;
    }

    .circle-red {
        width: 30%;
        left: 60%;
        top: 115%;
    }

    .work {
        bottom: -100px;
    }

    .item {
        width: 80%;
        padding-bottom: 20px;
    }

    .item .title img {
        height: 60px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .itembox {
        flex-wrap: wrap;
    }

    .itembox img {
        width: auto;
        padding: 8px;
    }

    .footerbox {
        margin-top: -170px;
    }

    .project-info-area {
        display: block;
    }

    .project-info {
        padding-top: 20px;
    }


}

@media (max-width: 320px) {
    h1 {
        font-size: 22px;
    }

    li {
        font-size: 18px;
    }



}