@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: "Noto Sans TC", "微軟正黑體";
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0 auto;
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
    margin: 0 auto;
}

p {
    font-size: 30px;
    font-weight: 600;
}

span {
    font-size: 20px;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

.css-line {
    background: linear-gradient(to right, #c5d4ff 1px, transparent 1px), linear-gradient(to bottom, #c5d4ff 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 40px 40px;
}

.wrapper {
    padding: 200px 0;

}

.fly01 {
    position: absolute;
    right: 22%;
    top: 10%;
    width: 10%;
    z-index: 2;

}

.fly02 {
    position: absolute;
    left: 32%;
    top: -10%;
    width: 10%;

}

.fly03 {
    position: absolute;
    left: 20%;
    top: 400px;
    width: 18%;
}

.fly04 {
    position: absolute;
    right: 20%;
    top: 500px;
    width: 12%;
    filter: blur(10px);

}

.kvbox {
    max-width: 800px;
    height: 453px;
    background-color: #ffffff;
    /* box-shadow: 12px 12px 2px 1px #c9c9c9; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    opacity: .9;
    z-index: 1;
}


.kvtext {
    width: 80%;
    padding: 82px 0;
    margin: 0 auto;

    z-index: 2;
    left: 0;
    right: 0;
}

.kvtext>p {
    /* text-align: center; */
    font-size: 52px;
    font-weight: 800;
}

.text-span {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.text-span>p {
    font-size: 30px;
    padding-bottom: 20px;
}

.text-span span {
    font-size: 20px;
    line-height: 48px;
}

.text-span img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.kvpic {
    position: absolute;
    width: 320px;
    top: 0;
    left: 52%;
}

.areabox {
    margin-top: 100px;
}

.areabox>p {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}

.areabox ul {
    display: flex;
    margin-top: 100px;

}

.area {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.work {
    background-color: #ffffff;
    box-shadow: 10px 10px 20px #c9c9c9;
    margin: 40px;
    border-radius: 20px;

}

.work img {
    border-radius: 20px 20px 0 0;
}

.worktext {
    padding: 20px 40px 40px;
}

.worktext>span {
    color: #999999;
    font-size: 16px;
    line-height: 36px;
}

.work:hover p {
    color: #ffb514;
}

.work:hover {
    border-radius: 30px;
    border: 10px solid #ffb514;
    margin: 10px;
    position: relative;
}

.work:hover::after {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50px 0 20px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffb514;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;

}

#areawork .areabox li:nth-of-type(2) {
    margin-top: 100px;

}

#gotop {
    bottom: 10vw;
    right: 50vw;
    z-index: 5;
    /* border-radius: 50px;
    padding: 20px;
    background: linear-gradient(0deg, #f95f5f, #ffbd96);
    color: #ffffff;
    transition: all 0.5s; */

}

.arrow {
    position: relative;
    top: 7vh;
    height: 16vh;
    bottom: 20px;
}
.hometop {
    position: fixed;
    border-radius: 200px;
    background: linear-gradient(0deg, #a696ff, #70fffc);
    width: 140px;
    height: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: .8;
}

.hometop>span {
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #ffffff;
    font-weight: bold;
    /* text-shadow: 0px 0px 10px gray; */
}

.project-info-section {
    padding: 100px 0px 0px;
    margin: 0 auto;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #dfe4ea;
}

.project-h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #2f3542;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    text-align: left;
}

.project-h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    color: rgba(116, 125, 140, 0.8);
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.project-info-area {
    display: flex;
    justify-content: space-between;

}

.porject-show {
    padding: 40px 0;
}
.porject-show img{
    padding: 10px 0;
}
.porject-datial-area {
    display: flex;
    flex-direction: row;
    margin: 8% 0;
}

.porject-datial-title {
    width: 30%;
    color: #2f3542;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
}

.project-show-img img {
    width: 32.5%;
}

.porject-datial-describe {
    width: 70%;

}

.porject-datial-describe>p {
    font-size: 20px;
    color: #666666;
    font-weight: normal;
}

.porject-datial-describe img {
    padding: 40px 0;
    display: flex;

}

.project-info-h3 {
    margin-top: 0px;
    margin-bottom: 8px;
    color: rgba(116, 125, 140, 0.8);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.project-info-text {
    color: #2f3542;
    font-size: 18px;
    font-weight: 500;
}

.project-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 48px;
    padding-top: 40%;
    -o-object-fit: fill;
    object-fit: fill;
}

.project-cover-img {
    padding-top: 40px;
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.img-show,
.img-gymshow {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持圖片比例並填充容器 */

}


.img-show img,
.img-gymshow img {
    position: absolute;
    bottom: 0px;
    display: none;
}

.img-show img.show,
.img-gymshow img.show {
    display: block;
}

footer {
    height: 160px;
    background-color: #333333;

}

@keyframes switchImages {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: unset;
    }
}

iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.float1 {
    -webkit-animation: baloon_1 3s infinite;
    -moz-animation: baloon_1 3s infinite;
    -ms-animation: baloon_1 3s infinite;
    -o-animation: baloon_1 3s infinite;
    animation: baloon_1 3s infinite;
    animation-delay: 1s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;

}

.float2 {
    -webkit-animation: baloon_1 3s infinite;
    -moz-animation: baloon_1 3s infinite;
    -ms-animation: baloon_1 3s infinite;
    -o-animation: baloon_1 3s infinite;
    animation: baloon_1 3s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;

}

.float3 {
    animation: float3 3s ease-in-out 1s infinite alternate forwards;

}

@-webkit-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-moz-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-ms-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-o-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes float3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);

    }
}
@media (max-width: 1400px) {
    .wrapper {
        padding: 100px 0;
    }
    .areabox {
        margin-top: 60px;
    }
    .areabox ul {
        margin-top: 0px;
    }
    .fly01 {
        right: 12%;
        top: 2%;
    }
    .fly02 {
        left: 24%;
        top: -5%;
        width: 12%;
    }
    .fly03 {
        left: 7%;
        top: 350px;
        width: 15%;
    }

    .fly04 {
        right: 10%;
        top: 490px;
    }
    .area {
        max-width: 90%;
    }
    .worktext {
        padding: 10px 20px 30px;
    }
    .worktext >p{
        font-size: 26px;
    }
    #areawork .areabox li:nth-of-type(2) {
        margin-top: 60px;
    }
    .project-title ,.project-info-area,.porject-show{
        width: 90%;
        margin: 0 auto;
    }
    .porject-datial-area{
        width: 90%;
        margin: 0 auto;
        padding-top: 8%;
    }
}
@media (max-width: 1024px) {
    .wrapper {
        padding: 100px 0;
    }

    .fly01 {
        right: 5%;
        top: 8%;
        width: 12%;
    }

    .fly02 {
        position: absolute;
        left: 15%;
        top: -5%;
        width: 16%;
    }

    .fly03 {
        left: 8%;
        top: 440px;
        width: 18%;
        z-index: 2;
    }

    .fly04 {
        right: 3%;
        top: 480px;
        width: 20%;
    }

    .areabox {
        width: 90%;
        margin: 0 auto;
        padding-top: 60px;
    }

    .areabox ul {
        margin-top: 0px;
    }

    #areawork .areabox li:nth-of-type(2) {
        margin-top: 50px;
    }

    .work {
        margin: 30px;
    }

    .worktext {
        padding: 10px 20px 20px;
    }

    .worktext>p {
        font-size: 20px;
    }
    .work:hover{
        border: 6px solid #ffb514;
        border-radius: 26px;
    }
    .work:hover::after {
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 40px 0 10px;

    }



}

@media (max-width: 992px) {
    .wrapper {
        padding: 60px 0;
    }

    .fly01 {
        right: 2%;
        top: -1%;
        width: 18%;
        z-index: 1;
    }

    .fly03 {
        top: 340px;
    }

    .fly04 {
        top: 370px;
    }

    .areabox>p {
        font-size: 48px;
    }

    .kvtext {
        width: 86%;
        padding: 32px 0;
    }

    .worktext>p {
        font-size: 18px;
    }

    .text-span span {
        line-height: 40px;
    }

    .worktext>span {
        font-size: 12px;
        line-height: 24px;
    }

    .kvpic {
        width: 246px;
        top: 50px;
        left: 56%;
    }

    .kvbox {
        max-width: 600px;
        height: 372px;
    }

    .work {
        margin: 16px;
    }

    .areabox ul {
        display: flex;
        flex-direction: row;
    }
    .porject-show {
        padding: 20px 0;
    }




}

@media (max-width: 768px) {
    .areabox ul {
        display: flex;
        flex-direction: row;
    }
    .work:hover{
        border: 4px solid #ffb514;
        border-radius: 20px;
    }
    .work:hover::after {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 24px 0 10px;

    }


}

@media (max-width: 441px) {
    .kvbox {
        max-width: 90%;
        height: 550px;
    }

    .kvpic {
        width: 190px;
        top: 280px;
        left: 27%;
    }

    .kvtext {
        width: 80%;
    }

    .fly01 {
        z-index: 2;
    }

    .fly03 {
        width: 27%;
        top: 530px;
        left: 7%;
    }

    .fly04 {
        top: 560px;
    }

    .areabox {
        padding-top: 60px;
    }

    .areabox ul {
        display: flex;
        flex-direction: column;
    }

    #areawork .areabox li:nth-of-type(2) {
        margin-top: 0px;
    }
    .project-info-area {
        flex-direction: column;
    }
    .porject-datial-area {
        flex-direction: column;
    }

    .porject-datial-title {
        width: 100%;
    }
    .porject-datial-describe {
        width: 100%;
    }
    .project-show-img img {
        width:100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }
    
}

@media (max-width: 375px) {
    .kvtext {
        width: 86%;
    }

    .kvtext>p {
        font-size: 40px;
    }

    .kvpic {
        left: 20%;
    }

    .text-span>p {
        font-size: 26px;
    }

    .text-span span {
        font-size: 16px;
    }

}