@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', '微軟正黑體';
    margin: 0;
    padding: 0;
    list-style: none;
}


html,
body {
    height: 100%;
    margin: 0;
}

#gotop {
    position: fixed;
    display: none;
    bottom: 40px;
    right: 10px;
    z-index: 5;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(-135deg, #bb53b9, rgb(0, 166, 163));
    color: #ffffff;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.bg {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;

}

.css-1xse0bz {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    will-change: transform;
    transform-origin: center 300%;

}

.nav {
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.menu a {
    font-size: 18px;
}

.btn {
    border: 1px solid #000;
    padding: 4px 12px;
    border-radius: 4px;
}

.area-photo {
    font-size: 18px;
    padding: 160px ;
    color: #271b1d;
    line-height: 28px;
}

.area-photo p {
    padding-bottom: 20px;
}


.area-article img{
    padding: 100px 0 100px 100px;
}
.area-text {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px;
    /* background: linear-gradient(#04C2D3, #9C60E2); */
    background: #333333;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient {
    background: linear-gradient(to right, rgb(187, 83, 185), rgb(0, 166, 163));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.css-line {
    background: linear-gradient(to right, #eeeeee 1px, transparent 1px),
        linear-gradient(to bottom, #eeeeee 1px, transparent 1px);
    background-repeat: repeat;
    /* 默认为 repeat */
    background-size: 36px 36px;
   
}

.number {
    width: 80px;
}
.area-works{
    background-color: #ebebeb;
    /* border-top: 5px solid #333333; */
    filter: drop-shadow(0 -2mm 2mm  #9e9e9e);
}
.area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100%;
    height: 100%;
    margin: 2%;
}

.area-card {
    position: relative;
    height: 100%;
    margin: 2%;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: 2%;
    background: linear-gradient(45deg, #04C2D3, #9C60E2);
}

.cover:hover {
    height: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
}

.pic img {
    display: flex;
    border-radius: 2%;
}

.pic img:hover{
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    text-align: center;
}

.footertext {
    font-size: 140px;
    font-weight:900;
    line-height: 120px;
    margin-top: 100px;
    color: #333333;
}

.thankyou {
    /* background: linear-gradient(to right, rgb(187, 83, 185), rgb(0, 166, 163)); */
    background: #333333;
    height: 100px;

}


.page01kv {
    width: 100%;
    background-image: url(../img/dividend-kv.jpg);
    background-size: cover;
    background-position: center;
}

.page02kv {
    width: 100%;
    background-image: url(../img/proposal-kv.jpg);
    background-size: cover;
    background-position: center;
}

.page03kv {
    width: 100%;
    background-image: url(../img/gym-kv.jpg);
    background-size: cover;
    background-position: center;
}

.page04kv {
    width: 100%;
    background-image: url(../img/deer-kv.jpg);
    background-size: cover;
    background-position: center;
}

.page05kv {
    width: 100%;
    background-image: url(../img/travel-kv.jpg);
    background-size: cover;
    background-position: center;
}


.link {
    width: 100px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 16px;
    font-weight: 400;
}

.link:hover {
    background-color: #ff7d21;
    border: 1px solid #ff7d21;
    color: #ffffff;
}

.nolink {
    width: 100px;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #c9c9c9;
}

.hometop {
    position: fixed;
    border-radius: 200px;
    background-color: #333333;
    width: 140px;
    height: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: .8;
}

span {
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #ffffff;
    /* text-shadow:0px 0px 10px gray; */
}

.chapter {
    width: 70%;
    margin: 0 auto;
}

.chapter-text {
    color: #333333;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.box {
    position: relative;
    margin: 0 auto;
    height: 100px;
    margin-top: 100px;
}

.colorplan {
    position: relative;
    display: flex;
}

.rgb01 {
    background-color: #333333;
    margin: 20px 20px 20px 0;
}

.rgb02 {
    background-color: #2BB8B4;
    margin: 20px 20px 20px 0;
}

.rgb03 {
    background-color: #E90000;
    margin: 20px 20px 20px 0;
}

.rgb04 {
    background-color: #0089D1;
    margin: 20px 20px 20px 0;
}

.rgb05 {
    background-color: #006B98;
    margin: 20px 20px 20px 0;
}

.rgb06 {
    background: linear-gradient(to right, rgb(6, 177, 174), rgb(0, 136, 209));
    margin: 20px 20px 20px 0;
}

.rgb07 {
    background-color: #F98B1C;
    margin: 20px 20px 20px 0;
}

.rgb08 {
    background-color: #014f75;
    margin: 20px 20px 20px 0;
}

.rgb09 {
    background-color: #de474c;
    margin: 20px 20px 20px 0;
}

.rgb10 {
    background-color: #ff9101;
    margin: 20px 20px 20px 0;
}

.rgb11 {
    background-color: #444444;
    margin: 20px 20px 20px 0;
}

.rgb12 {
    background-color: #30918E;
    margin: 20px 20px 20px 0;
}

.rgb13 {
    background-color: #8C705A;
    margin: 20px 20px 20px 0;
}

.rgb14 {
    background-color: #CFAA90;
    margin: 20px 20px 20px 0;
}

.rgb15 {
    background-color: #F4807A;
    margin: 20px 20px 20px 0;
}

.rgb16 {
    background-color: #3d3d3d;
    margin: 20px 20px 20px 0;
}

.rgb17 {
    background-color: #FF6936;
    margin: 20px 20px 20px 0;
}

.rgb18 {
    background-color: #0D979E;
    margin: 20px 20px 20px 0;
}

.rgb19 {
    background-color: #E5BC8E;
    margin: 20px 20px 20px 0;
}

.rgb20 {
    background-color: #D16540;
    margin: 20px 20px 20px 0;
}

.rgb01 .rgbtext,
.rgb02 .rgbtext,
.rgb03 .rgbtext,
.rgb04 .rgbtext,
.rgb05 .rgbtext,
.rgb06 .rgbtext,
.rgb07 .rgbtext,
.rgb08 .rgbtext,
.rgb09 .rgbtext,
.rgb10 .rgbtext,
.rgb11 .rgbtext,
.rgb12 .rgbtext,
.rgb13 .rgbtext,
.rgb14 .rgbtext,
.rgb15 .rgbtext,
.rgb16 .rgbtext,
.rgb17 .rgbtext,
.rgb18 .rgbtext,
.rgb19 .rgbtext,
.rgb20 .rgbtext {
    font-weight: bold;
    padding: 15px 30px;
    color: #ffffff;

}

.line-text {
    position: relative;
    font-size: 160px;
    font-weight: 900;
    top: -130px;
    text-align: center;
    z-index: -2;
    color: #0e5e95;
}

.line-text-design {
    position: relative;
    font-size: 160px;
    font-weight: 900;
    top: -362px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #0e5e95;
}

.linetext-web {
    position: relative;
    font-size: 150px;
    font-weight: 900;
    top: -124px;
    text-align: center;
    z-index: -2;
    color: #006B98;
}

.linetext-webdesign {
    position: relative;
    font-size: 150px;
    font-weight: 900;
    top: -340px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.view {
    width: 70%;
    margin: 0 auto;
}

.list {
    margin: 0 auto;
    width: 50%;
    height: 140px;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.list-right::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 30px;
    left: -40px;
    border-left: 10px solid transparent;
    border-right: 14px solid #333333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.list-left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -40px;
    bottom: 110px;
    border-left: 14px solid #333333;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.list-no {
    display: none;

}

.mail {
    position: relative;
    top: 41px;
    border: 1px solid #ffffff;
    padding: 4px 20px;
    border-radius: 50px;
    color: #ffffff;

}

.pagebox {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.pagebox-change {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse !important;
}

.pagepic {
    width: 70%;

}

.pagepic img {
    border-radius: 20px;
}

.pagetext {
    width: 50%;
    margin: 5%;
    text-align: center;
}

.pagetext img {
    width: 120px;
}

.word {
    font-size: 30px;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 50px;
    margin: 15px;
    text-align: center;
}
.gifbox{
    display: flex;
}
.gifbox img{
    width: 30%;
    padding: 20px;
}
@media (max-width:1440px) {
    .fs-44 {
        font-size: 34px;
    }

    .pagetext {
        margin: 4%;

    }

    .word {
        font-size: 26px;
        margin: 5px;
    }

    .pagetext img {
        width: 80px;
    }

    .cover {
        opacity: 0;
    }

    .footertext {
        font-size: 80px;
        line-height: 66px;

    }

    .pxy-120 {
        padding: 100px;
    }

    .area-photo {
        padding: 200px 50px;

    }
    .area-article img {
        padding: 180px 50px 180px 0px;
    }

}

@media (max-width:1299px) {
    .chapter-text {
        font-size: 20px;
        line-height: 24px;
    }

    .pxy-2060 {
        padding: 2% 10%;
    }

    .line-text {
        font-size: 100px;
        top: -83px;
    }

    .line-text-design {
        font-size: 100px;
        top: -229px;
        -webkit-text-stroke: 1px #ffffff;
    }

    .pagebox {
        width: 100%;
        padding: 0;
    }

    .word {
        font-size: 22px;
        margin: 10px 0;

    }

    .pagetext {
        margin: 5%;

    }

    .fs-44 {
        font-size: 26px;
    }

    .pagetext img {
        width: 80px;
    }

    .pb-140 {
        padding-bottom: 80px;
    }

    .colorplan {
        flex-wrap: wrap;
    }

    .rgb01,
    .rgb02,
    .rgb03,
    .rgb04,
    .rgb05,
    .rgb06,
    .rgb07,
    .rgb08,
    .rgb09,
    .rgb10,
    .rgb11,
    .rgb12,
    .rgb13,
    .rgb14,
    .rgb15,
    .rgb16,
    .rgb17,
    .rgb18,
    .rgb19,
    .rgb20 {
        margin: 10px 10px 0 0;
    }

    .rgb01 .rgbtext,
    .rgb02 .rgbtext,
    .rgb03 .rgbtext,
    .rgb04 .rgbtext,
    .rgb05 .rgbtext,
    .rgb06 .rgbtext,
    .rgb07 .rgbtext,
    .rgb08 .rgbtext,
    .rgb09 .rgbtext,
    .rgb10 .rgbtext,
    .rgb11 .rgbtext,
    .rgb12 .rgbtext,
    .rgb13 .rgbtext,
    .rgb14 .rgbtext,
    .rgb15 .rgbtext,
    .rgb16 .rgbtext,
    .rgb17 .rgbtext,
    .rgb18 .rgbtext,
    .rgb19 .rgbtext,
    .rgb20 .rgbtext {
        font-size: 14px;
        padding: 10px;
    }

    .area-photo {
        padding: 200px 40px;
        width: 100%;

    }
    .gifbox{
        display: block;
    }
    .gifbox img{
        width: 100%;
        padding:20px 0px;
    }

}


/* desktops */
@media (max-width: 992px) {

    .pagebox {
        display: block;
        width: 80%;
    }

    .pagepic {
        width: 100%;
        padding: 0;

    }

    .pagepic img {
        margin: 2% 0;
    }

    .pagetext {
        width: 100%;
        margin: 0;
    }

    .line-text {
        font-size: 120px;
        top: -96px;
    }

    .line-text-design {
        font-size: 120px;
        top: -270px;
        -webkit-text-stroke: 1px #ffffff;
    }

    .linetext-web {
        font-size: 100px;
        top: -88px;
    }

    .linetext-webdesign {
        font-size: 100px;
        top: -233px;

    }

    .page01kv {
        width: 100%;
        background-image: url(../img/dividend-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }

    .page02kv {
        width: 100%;
        background-image: url(../img/proposal-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }

    .page03kv {
        width: 100%;
        background-image: url(../img/gym-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }

    .page04kv {
        width: 100%;
        background-image: url(../img/deer-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }

    .page05kv {
        width: 100%;
        background-image: url(../img/travel-kv-t.jpg);
        background-size: cover;
        background-position: center;
    }


    .number img{
        width: 60%;
    }


}

/* tablets */
@media (max-width: 768px) {
    .gotop {
        display: none;
    }

    .chapter-text {
        font-size: 48px;
        line-height: 60px;
        padding-bottom: 16px;
    }

    .area {
        display: block;
    }

    .area-text {
        font-size: 80px;
        line-height: normal;
    }

    .number {
        width: 130px;
    }

    .chapter {
        width: 80%;
    }

    .item {
        margin: 0%;
        padding: 4% 0;
    }

    .view {
        width: 80%;
        margin: 0 auto;
    }


    .pic img {
        border-radius: 8%;
    }

    .box {
        position: relative;
        margin: 0 auto;
        top: 100px;
        height: 60px;
    }

    .line-text {
        font-size: 80px;
        top: -154px;
    }

    .line-text-design {
        font-size: 80px;
        top: -270px;
        -webkit-text-stroke: 2px #ffffff;
    }

    .linetext-web {
        font-size: 100px;
        top: -185px;
    }

    .linetext-webdesign {
        font-size: 100px;
        top: -330px;
        -webkit-text-stroke: 2px #ffffff;
    }

    .page {
        width: 100%;
        height: 150px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    .pagebox {
        display: block;
        width: 100%;
        padding: 15px 0;
    }

    .pagetext img {
        width: 60px;
    }

    .pxy-120 {
        padding: 100px 0;
    }

    .pb-140 {
        padding-bottom: 80px;
    }


    .fs-140 {
        font-size: 90px;
        padding-top: 0;
    }

    .pb-50 {
        padding-bottom: 0;
        padding-top: 100px;
    }

    .pt-100 {
        padding-top: 100px;
    }

    .footertext {
        font-size: 120px;
        line-height: 100px;
        margin-top: 60px;
    }

    .list {
        width: 70%;
        font-size: 20px;
        height: 80px;
    }

    .pxy-2060 {
        padding: 0;
    }

    .list-right::before {
        top: 28px;
        left: -30px;
        border-left: 10px solid transparent;
        border-right: 10px solid rgb(36, 36, 36);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .list-left::after {
        right: -30px;
        bottom: 56px;
        border-left: 10px solid rgb(36, 36, 36);
        border-right: 10px solid transparent;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .area-photo {
        padding: 80px 40px ;
        width: auto;

    }

    .area-article {
        padding-bottom: 40px;
    }
    .area-article img {
        padding: 20px 0 0 100px ;
    }
    

}

/* phones */
@media (max-width: 576px) {

    .chapter-text {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 10px;
    }

    .area-text {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .line-text {
        font-size: 60px;
        top: -149px;
    }

    .line-text-design {
        font-size: 60px;
        top: -236px;
    }

    .linetext-web {
        font-size: 46px;
        top: -140px;
    }

    .linetext-webdesign {
        font-size: 46px;
        top: -206px;

    }

    .number {
        width: 80px;
    }

    .fs-32 {
        font-size: 26px;
    }

    .fs-40 {
        font-size: 34px;
    }

    .fs-24 {
        font-size: 18px;
    }

    .word {
        font-size: 18px;
        margin: 10px;
    }

    .footertext {
        font-size: 48px;
        line-height: 40px;
        margin-top: 60px;
    }

    .thankyou {
        top: -14px;
        height: 150px;
    }

    .pb-50 {
        padding-bottom: 20px;
        padding-top: 80px;
    }

    .pt-100 {
        padding-top: 40px;
    }

    .page02kv {
        width: 100%;
        background-image: url(../img/proposal-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }

    .page03kv {
        width: 100%;
        background-image: url(../img/gym-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }

    .page04kv {
        width: 100%;
        background-image: url(../img/deer-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }

    .page05kv {
        width: 100%;
        background-image: url(../img/travel-kv-m.jpg);
        background-size: cover;
        background-position: center;
    }

    .colorplan {
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .rgb01,
    .rgb02,
    .rgb03,
    .rgb04,
    .rgb05,
    .rgb06,
    .rgb07,
    .rgb08,
    .rgb09,
    .rgb10,
    .rgb11,
    .rgb12,
    .rgb13,
    .rgb14,
    .rgb15,
    .rgb16,
    .rgb17,
    .rgb18,
    .rgb19,
    .rgb20 {
        margin: 10px 5px 0 0;
    }

    .rgb01 .rgbtext,
    .rgb02 .rgbtext,
    .rgb03 .rgbtext,
    .rgb04 .rgbtext,
    .rgb05 .rgbtext,
    .rgb06 .rgbtext,
    .rgb07 .rgbtext,
    .rgb08 .rgbtext,
    .rgb09 .rgbtext,
    .rgb10 .rgbtext,
    .rgb11 .rgbtext,
    .rgb12 .rgbtext,
    .rgb13 .rgbtext,
    .rgb14 .rgbtext,
    .rgb15 .rgbtext,
    .rgb16 .rgbtext,
    .rgb17 .rgbtext,
    .rgb18 .rgbtext,
    .rgb19 .rgbtext,
    .rgb20 .rgbtext {
        padding: 6px;
        font-size: 12px;
    }

    .area-photo {
        padding: 0px 20px 60px 20px;
    }

    .area-article {
        padding-bottom: 60px;

    }
    .area-article img {
        padding: 20px 0 0 0;
    }


}